/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f2f2f2; /* offwhite */

    /* default font */
    /* font-family: 'Roboto', sans-serif; */

    /* default font i picked */
    font-family: 'Gayathri', sans-serif;
}

/* target the html element called body */

/* start body */
body {
    background-color: skyblue;

    /* using image as background of a page */
    /* background-image: url('../images/bg.jpg'); */
    /* background-image: url('https://media.giphy.com/media/4H3Ii5eLChYul9p7NL/giphy.gif'); */
    background-image: linear-gradient(to right, rgba(128, 128, 128,0.45), rgba(211, 211, 211, 0.45)), url('../images/bg.jpg');;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* viewport height is the height of the screen*/
    height: 100vh;
}
/* end body */

/* for adding linear gradient background */
/* .page-container {
    background-image: linear-gradient(to right, black , gray);
    height: 100vh;
    opacity: 60%;   
} */

/* start h1 */
h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 5px;
    background-color: #333333; /*off black*/
    /* font-family: 'Montserrat', sans-serif; */

    font-family: 'Alata', sans-serif;
}
/* end h1 */

/* start h2  */
h2 {
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    background-color: #333;
    border-radius: 10px;

    /* padding vs margin  */
    /* margin: 10px; adds space outside the element */
    padding: 10px; /* adds space inside the element */

    /* font-family: 'Montserrat', sans-serif; */

    font-family: 'Alata', sans-serif;
}
/* end h2 */

/* target the element with the class bio */
.bio {
    font-size: 18px;
    /* multiplied to the current line height */
    line-height: 1.75;
    /* background-color: rgba(51, 51, 51, 0.5); */

    background-color: rgba(51, 51, 51);
    opacity: 50%;
    
}
/* end bio */

/* targets the element with the id me */
#me {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: skyblue;
    border-width: 5px;
    margin: 50px 0px 25px;

}
/* end of id me */

.portfolio-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}